body {
  background-color: black;
  font-family: "League Spartan", sans-serif;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
